body, html{
    height: 100%;
    margin: 0;

    font: 400 15px/1.8 "Lato", sans-serif;
}

.bgimg-1{
    background-image: url(images/background.jpg);
    height: 100%;
    opacity: 0.65;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption{
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
    color: black;
}

.caption span.border{
    background-color: black;
    color: white;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}